.node-red/.flows.json.backup
[{"id":"9ac52bc1.20e278","type":"tab","label":"Ejemplo MODBUS","disabled":false,"info":""},{"id":"5c761764.55e4c8","type":"tab","label":"Leer temperatura","disabled":false,"info":""},{"id":"ba721049.8f30e","type":"modbus-client","z":"","name":"Servidor_Prueba","clienttype":"tcp","bufferCommands":false,"stateLogEnabled":true,"queueLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"10","clientTimeout":"1000","reconnectOnTimeout":false,"reconnectTimeout":"2000","parallelUnitIdsAllowed":false},{"id":"13d09467.bbae9c","type":"catch","z":"9ac52bc1.20e278","name":"","scope":[],"uncaught":false,"x":250,"y":560,"wires":[["a326d215.64df"]]},{"id":"a326d215.64df","type":"debug","z":"9ac52bc1.20e278","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":460,"y":580,"wires":[]},{"id":"3b0ef118.b6cf6e","type":"modbus-read","z":"9ac52bc1.20e278","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"0","dataType":"HoldingRegister","adr":"0","quantity":"10","rate":"1000","rateUnit":"ms","delayOnStart":false,"startDelayTime":"10","server":"ba721049.8f30e","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":150,"y":180,"wires":[["bfdaaad8.d37708"],["e89d9ae1.834e58"]]},{"id":"e89d9ae1.834e58","type":"modbus-response","z":"9ac52bc1.20e278","name":"","registerShowMax":"20","x":450,"y":220,"wires":[]},{"id":"bfdaaad8.d37708","type":"debug","z":"9ac52bc1.20e278","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":410,"y":120,"wires":[]},{"id":"2123eab.a837f16","type":"comment","z":"9ac52bc1.20e278","name":"Prueba Modbus","info":"Escribe y lee valores sobre un servidor local","x":160,"y":100,"wires":[]},{"id":"2656a538.16889a","type":"modbus-write","z":"9ac52bc1.20e278","name":"","showStatusActivities":true,"showErrors":true,"unitid":"0","dataType":"MHoldingRegisters","adr":"0","quantity":"10","server":"ba721049.8f30e","x":440,"y":420,"wires":[["17672016.66fcd"],["458fbcd3.86d154"]]},{"id":"3b8eba40.58d856","type":"inject","z":"9ac52bc1.20e278","name":"","topic":"","payload":"[1,2,3,4,5,6,7,8,9,10]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":400,"wires":[["2656a538.16889a"]]},{"id":"17672016.66fcd","type":"debug","z":"9ac52bc1.20e278","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":380,"wires":[]},{"id":"458fbcd3.86d154","type":"modbus-response","z":"9ac52bc1.20e278","name":"","registerShowMax":20,"x":650,"y":460,"wires":[]},{"id":"a4e46bec.74d828","type":"inject","z":"9ac52bc1.20e278","name":"","topic":"","payload":"[10,9,8,7,6,5,4,3,2,1]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":460,"wires":[["2656a538.16889a"]]},{"id":"5abfa088.e4dfd","type":"inject","z":"5c761764.55e4c8","name":"tick","topic":"tempC","payload":"","payloadType":"str","repeat":"1","crontab":"","once":false,"onceDelay":"","x":77,"y":142,"wires":[["2c9987e0.f5b358"]]},{"id":"8def9762.fb3bf8","type":"comment","z":"5c761764.55e4c8","name":"Leer la temperatura de la CPU de la PI","info":"Lanza el comando vcgencmd measure_temp\ny formatea el resultado, extrayendo el valor\n","x":177,"y":82,"wires":[]},{"id":"10d30372.a3deed","type":"debug","z":"5c761764.55e4c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":427,"y":146,"wires":[]},{"id":"58df558c.6e3eac","type":"link out","z":"5c761764.55e4c8","name":"Temperatura PI","links":["8fd2f5ba.c88b28","d79e9c97.80d94","920a53ca.3fc64","695647e.12971b8"],"x":475,"y":220,"wires":[]},{"id":"2c9987e0.f5b358","type":"function","z":"5c761764.55e4c8","name":"Sin(x)","func":"if (typeof x == 'undefined'){\n    x = 0;\n}\n\nmsg.payload = Math.sin(x);\n\nx = x + 0.05;\n\nif(x == 1) x = 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":160,"wires":[["10d30372.a3deed","58df558c.6e3eac"]]}]