.node-red/flows.json
[{"id":"9ac52bc1.20e278","type":"tab","label":"Ejemplo MODBUS","disabled":true,"info":""},{"id":"5c761764.55e4c8","type":"tab","label":"Leer temperatura","disabled":true,"info":""},{"id":"cd739a52.e94e38","type":"tab","label":"Dashboard","disabled":true,"info":""},{"id":"15d4ce14.0555a2","type":"tab","label":"Servidor OPC-UA","disabled":true,"info":""},{"id":"5b7b7318.8a709c","type":"tab","label":"Lectura y escritura OPCUA","disabled":true,"info":""},{"id":"5c70664a.bbfbf8","type":"tab","label":"Declaracion Global","disabled":false,"info":""},{"id":"d91e2557.81f888","type":"tab","label":"Get GVL","disabled":false,"info":""},{"id":"8321392f.a54f88","type":"tab","label":"Context Flex-Server","disabled":false,"info":""},{"id":"ba721049.8f30e","type":"modbus-client","z":"","name":"Servidor_Prueba","clienttype":"tcp","bufferCommands":false,"stateLogEnabled":true,"queueLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"10","clientTimeout":"1000","reconnectOnTimeout":false,"reconnectTimeout":"2000","parallelUnitIdsAllowed":false},{"id":"c9718344.31eab","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"f45032ce.02a07","type":"ui_group","z":"","name":"General","tab":"c9718344.31eab","disp":true,"width":"6","collapse":false},{"id":"6078a428.d44cec","type":"OPCUA-IIoT-Connector","z":"","discoveryUrl":"","endpoint":"opc.tcp://localhost:55380/","keepSessionAlive":true,"loginEnabled":false,"securityPolicy":"None","securityMode":"NONE","name":"Servidor","showErrors":false,"individualCerts":false,"publicCertificateFile":"","privateKeyFile":"","defaultSecureTokenLifetime":"","endpointMustExist":false,"autoSelectRightEndpoint":false,"strategyMaxRetry":"","strategyInitialDelay":"","strategyMaxDelay":"","strategyRandomisationFactor":"","requestedSessionTimeout":"","connectionStartDelay":"","reconnectDelay":"","maxBadSessionRequests":"10"},{"id":"c4d01d10.78722","type":"OPCUA-IIoT-Connector","z":"","discoveryUrl":"","endpoint":"opc.tcp://localhost:55380","keepSessionAlive":true,"loginEnabled":false,"securityPolicy":"None","securityMode":"NONE","name":"LOCAL FLEX 80","showErrors":true,"publicCertificateFile":"","privateKeyFile":"","defaultSecureTokenLifetime":"","endpointMustExist":false,"autoSelectRightEndpoint":false,"strategyMaxRetry":"","strategyInitialDelay":"","strategyMaxDelay":"","strategyRandomisationFactor":"","requestedSessionTimeout":"","connectionStartDelay":"","reconnectDelay":""},{"id":"84f27995.c21168","type":"OPCUA-IIoT-Connector","z":"","discoveryUrl":"","endpoint":"opc.tcp://localhost:55380","keepSessionAlive":true,"loginEnabled":false,"securityPolicy":"None","securityMode":"NONE","name":"LOCAL FLEX 80","showErrors":true,"publicCertificateFile":"","privateKeyFile":"","defaultSecureTokenLifetime":"","endpointMustExist":false,"autoSelectRightEndpoint":false,"strategyMaxRetry":"","strategyInitialDelay":"","strategyMaxDelay":"","strategyRandomisationFactor":"","requestedSessionTimeout":"","connectionStartDelay":"","reconnectDelay":""},{"id":"6733d9ee.6fcac8","type":"OPCUA-IIoT-Connector","z":"","discoveryUrl":"","endpoint":"opc.tcp://192.168.1.105:4840/","keepSessionAlive":true,"loginEnabled":false,"securityPolicy":"None","securityMode":"NONE","name":"LOCAL SERVER","showErrors":false,"individualCerts":false,"publicCertificateFile":"","privateKeyFile":"","defaultSecureTokenLifetime":"","endpointMustExist":false,"autoSelectRightEndpoint":false,"strategyMaxRetry":"","strategyInitialDelay":"","strategyMaxDelay":"","strategyRandomisationFactor":"","requestedSessionTimeout":"","connectionStartDelay":"","reconnectDelay":"","maxBadSessionRequests":"10"},{"id":"ac22a7d0.f6d038","type":"OPCUA-IIoT-Connector","z":"","discoveryUrl":"","endpoint":"opc.tcp://localhost:55380","keepSessionAlive":true,"loginEnabled":false,"securityPolicy":"None","securityMode":"NONE","name":"LOCAL FLEX 80","showErrors":true,"publicCertificateFile":"","privateKeyFile":"","defaultSecureTokenLifetime":"","endpointMustExist":false,"autoSelectRightEndpoint":false,"strategyMaxRetry":"","strategyInitialDelay":"","strategyMaxDelay":"","strategyRandomisationFactor":"","requestedSessionTimeout":"","connectionStartDelay":"","reconnectDelay":""},{"id":"c1778101.6494e","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"13d09467.bbae9c","type":"catch","z":"9ac52bc1.20e278","name":"","scope":[],"uncaught":false,"x":250,"y":560,"wires":[["a326d215.64df"]]},{"id":"a326d215.64df","type":"debug","z":"9ac52bc1.20e278","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":460,"y":580,"wires":[]},{"id":"3b0ef118.b6cf6e","type":"modbus-read","z":"9ac52bc1.20e278","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"0","dataType":"HoldingRegister","adr":"0","quantity":"10","rate":"1000","rateUnit":"ms","delayOnStart":false,"startDelayTime":"10","server":"ba721049.8f30e","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":150,"y":180,"wires":[["bfdaaad8.d37708"],["e89d9ae1.834e58"]]},{"id":"e89d9ae1.834e58","type":"modbus-response","z":"9ac52bc1.20e278","name":"","registerShowMax":"20","x":450,"y":220,"wires":[]},{"id":"bfdaaad8.d37708","type":"debug","z":"9ac52bc1.20e278","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":430,"y":180,"wires":[]},{"id":"2123eab.a837f16","type":"comment","z":"9ac52bc1.20e278","name":"Prueba Modbus","info":"Escribe y lee valores sobre un servidor local","x":160,"y":100,"wires":[]},{"id":"2656a538.16889a","type":"modbus-write","z":"9ac52bc1.20e278","name":"","showStatusActivities":true,"showErrors":true,"unitid":"0","dataType":"MHoldingRegisters","adr":"0","quantity":"10","server":"ba721049.8f30e","x":440,"y":420,"wires":[["17672016.66fcd"],["458fbcd3.86d154"]]},{"id":"3b8eba40.58d856","type":"inject","z":"9ac52bc1.20e278","name":"","topic":"","payload":"[1,2,3,4,5,6,7,8,9,10]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":400,"wires":[["2656a538.16889a"]]},{"id":"17672016.66fcd","type":"debug","z":"9ac52bc1.20e278","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":380,"wires":[]},{"id":"458fbcd3.86d154","type":"modbus-response","z":"9ac52bc1.20e278","name":"","registerShowMax":20,"x":650,"y":460,"wires":[]},{"id":"a4e46bec.74d828","type":"inject","z":"9ac52bc1.20e278","name":"","topic":"","payload":"[10,9,8,7,6,5,4,3,2,1]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":460,"wires":[["2656a538.16889a"]]},{"id":"5abfa088.e4dfd","type":"inject","z":"5c761764.55e4c8","name":"tick","topic":"tempC","payload":"","payloadType":"str","repeat":"1","crontab":"","once":false,"onceDelay":"","x":77,"y":142,"wires":[["2c9987e0.f5b358"]]},{"id":"8def9762.fb3bf8","type":"comment","z":"5c761764.55e4c8","name":"Leer la temperatura de la CPU de la PI","info":"Lanza el comando vcgencmd measure_temp\ny formatea el resultado, extrayendo el valor\n","x":177,"y":82,"wires":[]},{"id":"10d30372.a3deed","type":"debug","z":"5c761764.55e4c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":427,"y":146,"wires":[]},{"id":"58df558c.6e3eac","type":"link out","z":"5c761764.55e4c8","name":"Temperatura PI","links":["8409aea9.8b3af","b2a64d77.37486"],"x":475,"y":220,"wires":[]},{"id":"2c9987e0.f5b358","type":"function","z":"5c761764.55e4c8","name":"Sin(x)","func":"if (typeof x == 'undefined'){\n    x = 0;\n}\n\nmsg.payload = Math.sin(x);\n\nx = x + 0.05;\n\nif(x == 1) x = 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":160,"wires":[["10d30372.a3deed","58df558c.6e3eac"]]},{"id":"8d4e00fb.ab973","type":"ui_chart","z":"cd739a52.e94e38","name":"","group":"f45032ce.02a07","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":370,"y":80,"wires":[[]]},{"id":"8409aea9.8b3af","type":"link in","z":"cd739a52.e94e38","name":"","links":["58df558c.6e3eac"],"x":140,"y":100,"wires":[["8d4e00fb.ab973"]]},{"id":"e5c80d1c.a8e09","type":"OPCUA-IIoT-Flex-Server","z":"15d4ce14.0555a2","d":true,"port":"55380","endpoint":"","acceptExternalCommands":true,"maxAllowedSessionNumber":"","maxConnectionsPerEndpoint":"","maxAllowedSubscriptionNumber":"","alternateHostname":"","name":"","showStatusActivities":false,"showErrors":false,"allowAnonymous":true,"individualCerts":false,"isAuditing":false,"serverDiscovery":true,"users":[],"xmlsets":[],"publicCertificateFile":"","privateCertificateFile":"","registerServerMethod":1,"discoveryServerEndpointUrl":"","capabilitiesForMDNS":"","maxNodesPerRead":1000,"maxNodesPerBrowse":2000,"delayToClose":1000,"addressSpaceScript":"function constructAddressSpace(server, addressSpace, eventObjects, done) {\n    // Creamos constantes para algunos objetos y as simplificar la escritura\n    const miopcua       = coreServer.core.nodeOPCUA; \t\t\t\t        // Acceso a nodeopcua\n    const LocalizedText = coreServer.core.nodeOPCUA.LocalizedText; \t// Para simplificar textos localizados\n    const namespace     = addressSpace.getOwnNamespace();\t\t\t    // Espacio de nombres\n    const Variant       = miopcua.Variant;\n    const DataType      = miopcua.DataType;\n    \n    \n    // Este mensaje sale en el panel de debug\n    node.warn('Espacio de direcciones gateway PI 1')\n    \n    // Uso de una variable local para mantener un valor sobre el que leer/escribir\n    var fake=0.0\n     //----------------------------------------------------------------------\n    let A0 = false;\n    let enabled = true;\n    //----------------------------------------------------------------------\n\n    // Creacion de objeto para el alimentador de bases\n    let bases = namespace.addObject({\n        browseName  : 'Alimentador Bases',\n        description : 'Estacion numero 1 de la planta ',\n        organizedBy : addressSpace.rootFolder.objects,\n        notifierOf  : addressSpace.rootFolder.objects.server \n    })\n\n    let Ix_A0 = namespace.addVariable({\n        propertyOf : bases,  // Variable solo de lectura\n        nodeID     : 'ns=1;s=IxA0',\n        browseName : 'Sensor Retroceso',\n        \n         displayName: [\n          new LocalizedText({text: 'Forward', locale: 'en-US'}),\n          new LocalizedText({text: 'Alante', locale: 'es-ES'})\n        ],\n        description: 'Sensor del vastago del cilindro',\n        dataType: DataType.Boolean,\n        value:\n        {\n            get : function(){\n                return new miopcua.Variant({\n                    dataType : DataType.Boolean,\n                    value:global\n                })\n            }\n\n        }\n         \n    })\n    \n    \n    // Creamos un objeto para la Raspberry Pi, nuestro gateway IoT\n    // https://node-opcua.github.io/tutorial/2015/12/05/ObjectType-and-object-instantiation.html\n    //----------------------------------------------------------------------\n    \n    let rpi = namespace.addObject({\n        browseName: 'RPi Gateway',\n        description: 'Objeto que representa una RPi haciendo de gateway IoT',\n        organizedBy: addressSpace.rootFolder.objects,\n        notifierOf: addressSpace.rootFolder.objects.server\n    })\n    \n    \n    //----------------------------------------------------------------------\n    // Añadimos variables al objeto. Hay dos modos, como propertyOf o como\n    // componentOf. La segunda funciona para Leer/Escribir desde un cliente\n    // la primera solo me ha funcionado como solo lectura.\n    //----------------------------------------------------------------------\n        \n    let piTempCPU = namespace.addVariable({\n        propertyOf: rpi,\t\t// Propiedad del objeto (solo lectura)\n        nodeID: 'ns=1;s=piTemp',\n        browseName: 'Temp CPU',\n        \n        displayName: [\n          new LocalizedText({text: 'RPi CPU temp', locale: 'en-US'}),\n          new LocalizedText({text: 'Temperatura CPU de la Pi', locale: 'es-ES'})\n        ],\n        description: 'Temperatura de la CPU de la RPi',\n        dataType: 'Double',\n        eventSourceOf: rpi,\n        value:\n        {   \n            get: function () {\n                return new miopcua.Variant({\n                dataType: 'Double',\n                value:global.rpiTemp\n              })\n            },\n         }\n        \n    })\n  \n    // Vamos a añadir otra variable para la temperatura de la CPU\n    // de la Pi... pero esta vez como una variable analógica con\n    // información de rango y unidades de ingeniera\n    // Para añadir variables analógicas con rangos ver\n    // http://node-opcua.github.io/api_doc/0.1.0/classes/AddressSpace.html\n    let piTempCPU2 = namespace.addAnalogDataItem({\n        componentOf: rpi,\t// Componente (tag) del objeto, puede ser L/E\n        nodeID: 'ns=1;s=piTemp2',\n        browseName: 'Temp CPU2',\n\t\n        engineeringUnitsRange: {\n            low:  0,\n            high: 100.0\n        },\n        engineeringUnits: miopcua.standardUnits.degree_celsius,\n\t    // Ver unidades en https://github.com/node-opcua/node-opcua/blob/7ed0ff7a/packages/node-opcua-data-access/source/EUInformation.ts#L87\n        \n        displayName: [\n          new LocalizedText({text: 'RPi CPU temp 2', locale: 'en-US'}),\n          new LocalizedText({text: 'Temperatura CPU de la Pi 2', locale: 'es-ES'})\n        ],\n        description: 'Temperatura de la CPU de la RPi 2',\n        dataType: 'Double',\n        eventSourceOf: rpi,\n        value:\n        {   \n            get: function () {\n              return new miopcua.Variant({\n                dataType: 'Double',\n                value:fake\n              })\n            },\n            set: function (variant) {\n                    fake = parseFloat(variant.value)\n                    return miopcua.StatusCodes.Good\n            }\n        }\n        \n    })\n    \n     // Indicamos que es una variable que historiza\n    addressSpace.installHistoricalDataNode(piTempCPU2);\n    \n    // Vamos a añadir una última variable, pero esta vez que devuelva el \n    // valor de una función interna. Es una variable de solo lectura\n    // que podrmos calcular a partir de otros datos. Además\n    // vamos a historizarla. La llamaremos Presión.\n    \n    let t=0; // contador\n    const simPresion = namespace.addAnalogDataItem({\n        browseName: \"Presion\",\n        //nodeID: 'ns=1;s=Presion',\n        engineeringUnitsRange: {\n            low:  0,\n            high: 10.0\n        },\n        engineeringUnits: miopcua.standardUnits.bar,\n        componentOf: rpi,\n        value:{\n            get: function(){\n                let valuep = (Math.sin(t/50)*0.70+Math.random()*0.20)*5.0+5.0;\n                t=t+1; \n                return new miopcua.Variant({\n                    dataType: miopcua.DataType.Double,\n                    value:valuep\n                  })\n            }\n        }\n    });\n    \n    // Indicamos que es una variable que historiza\n    addressSpace.installHistoricalDataNode(simPresion);\n    \n    \n    //----------------------------------------------------------------------\n    // Añadimos ahora un método al objeto rpi. Primero se añaden los datos\n    // del método al namespace: nombre, argumentos con tipo y descripción,\n    // etc. Luego se hace un bind sobre una función javascript\n    //----------------------------------------------------------------------\n       \n    // Añadimos el método\n    const m1=namespace.addMethod(rpi,{\n        browseName: \"CalcSen\",\n        nodeID:\"ns=1;s=CalcSen\",\n        inputArguments:[{\n            name: \"Angulo (radianes)\",\n            description: {text: \"Angulo en radianes para el seno\"},\n            dataType: 'Double'\n        }],\n        outputArguments:[{\n            name: \"Seno\",\n            description: {text: \"Valor del seno\"},\n            dataType: 'Double'\n        }]\n    })\n    \n    // Y ahora lo atamos a una función\n    m1.bindMethod(function(inputArguments,context,callback) {\n        const angulo = inputArguments[0].value; // Valor del argumento\n\t    // Creamos un objeto para el resultado\n        const callMethodResult = {\n            statusCode: miopcua.StatusCodes.Good,\n            outputArguments: [{\n                    dataType: 'Double',\n                    value : Math.sin(angulo)\n            }]\n        };\n\t// Se devuelve el resultado as:\n        callback(null,callMethodResult);\n    });\n\n \n   //----------------------------------------------------------------------\n   // Una vez terminado el script, hay que llamar a done() para instalarlo\n   //----------------------------------------------------------------------\n   done()\n}","x":460,"y":160,"wires":[[]]},{"id":"cc3c7932.8f3fc8","type":"OPCUA-IIoT-Browser","z":"5b7b7318.8a709c","connector":"6078a428.d44cec","nodeId":"","name":"Servidor_1","justValue":true,"sendNodesToRead":false,"sendNodesToListener":false,"sendNodesToBrowser":false,"singleBrowseResult":false,"recursiveBrowse":false,"recursiveDepth":1,"delayPerMessage":0.2,"showStatusActivities":false,"showErrors":false,"x":110,"y":140,"wires":[[]]},{"id":"b2a64d77.37486","type":"link in","z":"5b7b7318.8a709c","name":"","links":["58df558c.6e3eac"],"x":55,"y":200,"wires":[["1919cf0b.a0ded1"]]},{"id":"1919cf0b.a0ded1","type":"function","z":"5b7b7318.8a709c","name":"Save_RPI_Temp","func":"flow.set('RPiTemp',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":200,"wires":[[]]},{"id":"f60e3bbb.e6eb18","type":"OPCUA-IIoT-Inject","z":"5b7b7318.8a709c","injectType":"write","payloadType":"date","topic":"","repeat":"0.5","crontab":"","once":false,"startDelay":"","name":"","payload":"","addressSpaceItems":[{"name":"RpiTemp","nodeId":"ns=1;i=1002","datatypeName":"Double"}],"x":110,"y":260,"wires":[["c5ae6364.4e7a7"]]},{"id":"c5ae6364.4e7a7","type":"function","z":"5b7b7318.8a709c","name":"Anade valor RPiTemp","func":"msg.valuesToWrite = [flow.get('RPiTemp')||0]\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":260,"wires":[["5a0bca84.a0db94","71ffa4fc.5bd95c"]]},{"id":"5a0bca84.a0db94","type":"OPCUA-IIoT-Write","z":"5b7b7318.8a709c","connector":"6078a428.d44cec","name":"","justValue":true,"showStatusActivities":false,"showErrors":false,"x":470,"y":200,"wires":[["7e244aa5.988344"]]},{"id":"7e244aa5.988344","type":"OPCUA-IIoT-Response","z":"5b7b7318.8a709c","name":"","compressStructure":true,"showStatusActivities":false,"showErrors":false,"activateUnsetFilter":false,"activateFilters":false,"negateFilter":false,"filters":[],"x":610,"y":260,"wires":[["7cd95018.eea2a"]]},{"id":"7cd95018.eea2a","type":"debug","z":"5b7b7318.8a709c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":260,"wires":[]},{"id":"71ffa4fc.5bd95c","type":"debug","z":"5b7b7318.8a709c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":610,"y":360,"wires":[]},{"id":"e2672161.cd23","type":"OPCUA-IIoT-Inject","z":"5b7b7318.8a709c","injectType":"read","payloadType":"date","topic":"","repeat":"0.1","crontab":"","once":false,"startDelay":"","name":"","payload":"","addressSpaceItems":[{"name":"","nodeId":"ns=1;i=1002","datatypeName":""}],"x":130,"y":440,"wires":[["ce474439.2b5868"]]},{"id":"ce474439.2b5868","type":"OPCUA-IIoT-Listener","z":"5b7b7318.8a709c","connector":"6078a428.d44cec","action":"subscribe","queueSize":10,"name":"","topic":"","justValue":true,"useGroupItems":false,"showStatusActivities":false,"showErrors":false,"x":320,"y":440,"wires":[["a7150d60.7f5cb"]]},{"id":"a7150d60.7f5cb","type":"OPCUA-IIoT-Result-Filter","z":"5b7b7318.8a709c","nodeId":"ns=1;i=1002","datatype":"Double","fixedValue":false,"fixPoint":2,"withPrecision":false,"precision":2,"entry":1,"justValue":true,"withValueCheck":false,"minvalue":"","maxvalue":"","defaultvalue":"","topic":"","name":"","showErrors":false,"x":520,"y":440,"wires":[["1045e63.7b6191a","c1498321.a975d"]]},{"id":"1045e63.7b6191a","type":"debug","z":"5b7b7318.8a709c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":720,"y":440,"wires":[]},{"id":"c1498321.a975d","type":"ui_chart","z":"5b7b7318.8a709c","name":"","group":"f45032ce.02a07","order":1,"width":0,"height":0,"label":"chart1","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":710,"y":500,"wires":[[]]},{"id":"b3d01815.8d03c8","type":"function","z":"5c70664a.bbfbf8","name":"Global","func":"global.set(\"Actuador_Global\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":160,"wires":[[]]},{"id":"8070e033.7b247","type":"inject","z":"5c70664a.bbfbf8","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":160,"wires":[["b3d01815.8d03c8"]]},{"id":"6c81230b.05383c","type":"function","z":"d91e2557.81f888","name":"Obtain Data","func":"msg.payload = global.get(\"Actuador_Global\");\nreturn msg;\n","outputs":1,"noerr":0,"x":330,"y":140,"wires":[["a05a8417.f3d718"]]},{"id":"eff516c5.f6ffc8","type":"inject","z":"d91e2557.81f888","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":140,"wires":[["6c81230b.05383c"]]},{"id":"a05a8417.f3d718","type":"debug","z":"d91e2557.81f888","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":510,"y":140,"wires":[]},{"id":"8b13769f.15cef8","type":"inject","z":"8321392f.a54f88","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0.5","x":230,"y":120,"wires":[["47554e9f.86b4d"]]},{"id":"47554e9f.86b4d","type":"function","z":"8321392f.a54f88","name":"set flow context Inputs","func":"//flow.set('Actuador' , global.get(\"Actuador\"))\nflow.set('Actuador',  global.get(\"Actuador_Global\")) \nflow.set('isoInput2', Math.random() + 12.0)\nflow.set('isoInput3', Math.random() + 13.0)\nflow.set('isoInput4', Math.random() + 14.0)\nflow.set('isoInput5', Math.random() + 15.0)\nflow.set('isoInput6', Math.random() + 16.0)\nflow.set('isoInput7', Math.random() + 17.0)\nflow.set('isoInput8', Math.random() + 18.0)\n\nmsg.payload = flow.get('Actuador');\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":120,"wires":[["7a3c8f6d.7b662"]]},{"id":"7a3c8f6d.7b662","type":"debug","z":"8321392f.a54f88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":720,"y":120,"wires":[]},{"id":"498c8cea.811ad4","type":"function","z":"8321392f.a54f88","name":"set flow context Outputs","func":"flow.set('isoOutput1', Math.random() + 1.0) \nflow.set('isoOutput2', Math.random() + 2.0)\nflow.set('isoOutput3', Math.random() + 3.0)\nflow.set('isoOutput4', Math.random() + 4.0)\nflow.set('isoOutput5', Math.random() + 5.0)\nflow.set('isoOutput6', Math.random() + 6.0)\nflow.set('isoOutput7', Math.random() + 7.0)\nflow.set('isoOutput8', Math.random() + 8.0)\n\nmsg.payload = [\n    flow.get('isoOutput1'),\n    flow.get('isoOutput2'),\n    flow.get('isoOutput3'),\n    flow.get('isoOutput4'),\n    flow.get('isoOutput5'),\n    flow.get('isoOutput6'),\n    flow.get('isoOutput7'),\n    flow.get('isoOutput8'),\n]\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":180,"wires":[["a2a61759.4ae628"]]},{"id":"475c5aea.9124e4","type":"inject","z":"8321392f.a54f88","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0.5","x":230,"y":180,"wires":[["498c8cea.811ad4"]]},{"id":"a2a61759.4ae628","type":"debug","z":"8321392f.a54f88","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":720,"y":180,"wires":[]},{"id":"f1b6e228.a803b","type":"OPCUA-IIoT-Flex-Server","z":"8321392f.a54f88","port":"55380","endpoint":"","acceptExternalCommands":true,"maxAllowedSessionNumber":"","maxConnectionsPerEndpoint":"","maxAllowedSubscriptionNumber":"","alternateHostname":"","name":"","showStatusActivities":false,"showErrors":false,"allowAnonymous":true,"individualCerts":false,"isAuditing":false,"serverDiscovery":true,"users":[],"xmlsets":[],"publicCertificateFile":"","privateCertificateFile":"","registerServerMethod":"1","discoveryServerEndpointUrl":"","capabilitiesForMDNS":"","maxNodesPerRead":1000,"maxNodesPerBrowse":2000,"delayToClose":1000,"addressSpaceScript":"function constructAlarmAddressSpace(server, addressSpace, eventObjects, done) {\n    // server = the created node-opcua server\n    // addressSpace = script placeholder\n    // eventObjects = to hold event variables in memory from this script\n    \n    // internal global sandbox objects are \n    // node = node of the flex server, \n    // coreServer = core iiot server object for debug and access to nodeOPCUA,\n    // and scriptObjects to hold variables and functions\n    const opcua = coreServer.core.nodeOPCUA\n    const LocalizedText = opcua.LocalizedText;\n    const namespace = addressSpace.getOwnNamespace();\n    \n    coreServer.internalDebugLog('init dynamic address space')\n    node.warn('construct new address space for OPC UA')\n    \n    const Variant = opcua.Variant;\n    const DataType = opcua.DataType;\n    const DataValue = opcua.DataValue;\n    \n    var flexServerInternals = this;\n    \n    /*this.sandboxFlowContext.set(\"Actuador\", 0);\n    this.sandboxFlowContext.set(\"isoInput2\", 0);\n    this.sandboxFlowContext.set(\"isoInput3\", 0);\n    this.sandboxFlowContext.set(\"isoInput4\", 0);\n    this.sandboxFlowContext.set(\"isoInput5\", 0);\n    this.sandboxFlowContext.set(\"isoInput6\", 0);\n    this.sandboxFlowContext.set(\"isoInput7\", 0);\n    this.sandboxFlowContext.set(\"isoInput8\", 0);\n    \n    this.sandboxFlowContext.set(\"isoOutput1\", 0);\n    this.sandboxFlowContext.set(\"isoOutput2\", 0);\n    this.sandboxFlowContext.set(\"isoOutput3\", 0);\n    this.sandboxFlowContext.set(\"isoOutput4\", 0);\n    this.sandboxFlowContext.set(\"isoOutput5\", 0);\n    this.sandboxFlowContext.set(\"isoOutput6\", 0);\n    this.sandboxFlowContext.set(\"isoOutput7\", 0);\n    this.sandboxFlowContext.set(\"isoOutput8\", 0);*/\n    \n    coreServer.internalDebugLog(\"init dynamic address space\");\n    const rootFolder = addressSpace.findNode(\"RootFolder\");\n    \n    node.warn(\"construct new address space for OPC UA\");\n    \n    const myDevice = namespace.addFolder(rootFolder.objects, {\n    \"browseName\": \"RaspberryPI-Zero-WLAN\"\n    });\n    const gpioFolder = namespace.addFolder(myDevice, { \"browseName\": \"GPIO\" });\n    const isoInputs = namespace.addFolder(gpioFolder, {\n    \"browseName\": \"Inputs\"\n    });\n    const isoOutputs = namespace.addFolder(gpioFolder, {\n    \"browseName\": \"Outputs\"\n    });\n    \n    const gpioDI1 = namespace.addVariable({\n    \"organizedBy\": isoInputs,\n    \"browseName\": \"A0\",\n    \"nodeId\": \"ns=1;s=A0\",\n    \"dataType\": DataType.Boolean,\n    \"value\": {\n      \"get\": function() {\n        return new Variant({\n          \"dataType\": DataType.Boolean,\n          \"value\": flexServerInternals.sandboxFlowContext.get(\"Actuador\")\n        });\n      },\n      \"set\": function(variant) {\n        flexServerInternals.sandboxFlowContext.set(\n          \"Actuador\",\n          parseFloat(variant.value)\n        );\n        return opcua.StatusCodes.Good;\n      }\n    }\n    });\n    \n    const gpioDI2 = namespace.addVariable({\n    \"organizedBy\": isoInputs,\n    \"browseName\": \"I2\",\n    \"nodeId\": \"ns=1;s=Isolated_Input2\",\n    \"dataType\": \"Double\",\n    \"value\": {\n      \"get\": function() {\n        return new Variant({\n          \"dataType\": DataType.Double,\n          \"value\": flexServerInternals.sandboxFlowContext.get(\"isoInput2\")\n        });\n      },\n      \"set\": function(variant) {\n        flexServerInternals.sandboxFlowContext.set(\n          \"isoInput2\",\n          parseFloat(variant.value)\n        );\n        return opcua.StatusCodes.Good;\n      }\n    }\n    });\n    \n    const gpioDI3 = namespace.addVariable({\n    \"organizedBy\": isoInputs,\n    \"browseName\": \"I3\",\n    \"nodeId\": \"ns=1;s=Isolated_Input3\",\n    \"dataType\": \"Double\",\n    \"value\": {\n      \"get\": function() {\n        return new Variant({\n          \"dataType\": DataType.Double,\n          \"value\": flexServerInternals.sandboxFlowContext.get(\"isoInput3\")\n        });\n      },\n      \"set\": function(variant) {\n        flexServerInternals.sandboxFlowContext.set(\n          \"isoInput3\",\n          parseFloat(variant.value)\n        );\n        return opcua.StatusCodes.Good;\n      }\n    }\n    });\n    \n    const gpioDI4 = namespace.addVariable({\n    \"organizedBy\": isoInputs,\n    \"browseName\": \"I4\",\n    \"nodeId\": \"ns=1;s=Isolated_Input4\",\n    \"dataType\": \"Double\",\n    \"value\": {\n      \"get\": function() {\n        return new Variant({\n          \"dataType\": DataType.Double,\n          \"value\": flexServerInternals.sandboxFlowContext.get(\"isoInput4\")\n        });\n      },\n      \"set\": function(variant) {\n        flexServerInternals.sandboxFlowContext.set(\n          \"isoInput4\",\n          parseFloat(variant.value)\n        );\n        return opcua.StatusCodes.Good;\n      }\n    }\n    });\n    \n    const gpioDI5 = namespace.addVariable({\n    \"organizedBy\": isoInputs,\n    \"browseName\": \"I5\",\n    \"nodeId\": \"ns=1;s=Isolated_Input5\",\n    \"dataType\": \"Double\",\n    \"value\": {\n      \"get\": function() {\n        return new Variant({\n          \"dataType\": DataType.Double,\n          \"value\": flexServerInternals.sandboxFlowContext.get(\"isoInput5\")\n        });\n      },\n      \"set\": function(variant) {\n        flexServerInternals.sandboxFlowContext.set(\n          \"isoInput5\",\n          parseFloat(variant.value)\n        );\n        return opcua.StatusCodes.Good;\n      }\n    }\n    });\n    \n    const gpioDI6 = namespace.addVariable({\n    \"organizedBy\": isoInputs,\n    \"browseName\": \"I6\",\n    \"nodeId\": \"ns=1;s=Isolated_Input6\",\n    \"dataType\": \"Double\",\n    \"value\": {\n      \"get\": function() {\n        return new Variant({\n          \"dataType\": DataType.Double,\n          \"value\": flexServerInternals.sandboxFlowContext.get(\"isoInput6\")\n        });\n      },\n      \"set\": function(variant) {\n        flexServerInternals.sandboxFlowContext.set(\n          \"isoInput6\",\n          parseFloat(variant.value)\n        );\n        return opcua.StatusCodes.Good;\n      }\n    }\n    });\n    \n    const gpioDI7 = namespace.addVariable({\n    \"organizedBy\": isoInputs,\n    \"browseName\": \"I7\",\n    \"nodeId\": \"ns=1;s=Isolated_Input7\",\n    \"dataType\": \"Double\",\n    \"value\": {\n      \"get\": function() {\n        return new Variant({\n          \"dataType\": DataType.Double,\n          \"value\": flexServerInternals.sandboxFlowContext.get(\"isoInput7\")\n        });\n      },\n      \"set\": function(variant) {\n        flexServerInternals.sandboxFlowContext.set(\n          \"isoInput7\",\n          parseFloat(variant.value)\n        );\n        return opcua.StatusCodes.Good;\n      }\n    }\n    });\n    \n    const gpioDI8 = namespace.addVariable({\n    \"organizedBy\": isoInputs,\n    \"browseName\": \"I8\",\n    \"nodeId\": \"ns=1;s=Isolated_Input8\",\n    \"dataType\": \"Double\",\n    \"value\": {\n      \"get\": function() {\n        return new Variant({\n          \"dataType\": DataType.Double,\n          \"value\": flexServerInternals.sandboxFlowContext.get(\"isoInput8\")\n        });\n      },\n      \"set\": function(variant) {\n        flexServerInternals.sandboxFlowContext.set(\n          \"isoInput8\",\n          parseFloat(variant.value)\n        );\n        return opcua.StatusCodes.Good;\n      }\n    }\n    });\n    \n    const gpioDO1 = namespace.addVariable({\n    \"organizedBy\": isoOutputs,\n    \"browseName\": \"O1\",\n    \"nodeId\": \"ns=1;s=Isolated_Output1\",\n    \"dataType\": \"Double\",\n    \"value\": {\n      \"get\": function() {\n        return new Variant({\n          \"dataType\": DataType.Double,\n          \"value\": flexServerInternals.sandboxFlowContext.get(\"isoOutput1\")\n        });\n      },\n      \"set\": function(variant) {\n        flexServerInternals.sandboxFlowContext.set(\n          \"isoOutput1\",\n          parseFloat(variant.value)\n        );\n        return opcua.StatusCodes.Good;\n      }\n    }\n    });\n    \n    const gpioDO2 = namespace.addVariable({\n    \"organizedBy\": isoOutputs,\n    \"browseName\": \"O2\",\n    \"nodeId\": \"ns=1;s=Isolated_Output2\",\n    \"dataType\": \"Double\",\n    \"value\": {\n      \"get\": function() {\n        return new Variant({\n          \"dataType\": DataType.Double,\n          \"value\": flexServerInternals.sandboxFlowContext.get(\"isoOutput2\")\n        });\n      },\n      \"set\": function(variant) {\n        flexServerInternals.sandboxFlowContext.set(\n          \"isoOutput2\",\n          parseFloat(variant.value)\n        );\n        return opcua.StatusCodes.Good;\n      }\n    }\n    });\n    \n    const gpioDO3 = namespace.addVariable({\n    \"organizedBy\": isoOutputs,\n    \"browseName\": \"O3\",\n    \"nodeId\": \"ns=1;s=Isolated_Output3\",\n    \"dataType\": \"Double\",\n    \"value\": {\n      \"get\": function() {\n        return new Variant({\n          \"dataType\": DataType.Double,\n          \"value\": flexServerInternals.sandboxFlowContext.get(\"isoOutput3\")\n        });\n      },\n      \"set\": function(variant) {\n        flexServerInternals.sandboxFlowContext.set(\n          \"isoOutput3\",\n          parseFloat(variant.value)\n        );\n        return opcua.StatusCodes.Good;\n      }\n    }\n    });\n    \n    const gpioDO4 = namespace.addVariable({\n    \"organizedBy\": isoOutputs,\n    \"browseName\": \"O4\",\n    \"nodeId\": \"ns=1;s=Isolated_Output4\",\n    \"dataType\": \"Double\",\n    \"value\": {\n      \"get\": function() {\n        return new Variant({\n          \"dataType\": DataType.Double,\n          \"value\": flexServerInternals.sandboxFlowContext.get(\"isoOutput4\")\n        });\n      },\n      \"set\": function(variant) {\n        flexServerInternals.sandboxFlowContext.set(\n          \"isoOutput4\",\n          parseFloat(variant.value)\n        );\n        return opcua.StatusCodes.Good;\n      }\n    }\n    });\n    \n    const gpioDO5 = namespace.addVariable({\n    \"organizedBy\": isoOutputs,\n    \"browseName\": \"O5\",\n    \"nodeId\": \"ns=1;s=Isolated_Output5\",\n    \"dataType\": \"Double\",\n    \"value\": {\n      \"get\": function() {\n        return new Variant({\n          \"dataType\": DataType.Double,\n          \"value\": flexServerInternals.sandboxFlowContext.get(\"isoOutput5\")\n        });\n      },\n      \"set\": function(variant) {\n        flexServerInternals.sandboxFlowContext.set(\n          \"isoOutput5\",\n          parseFloat(variant.value)\n        );\n        return opcua.StatusCodes.Good;\n      }\n    }\n    });\n    \n    const gpioDO6 = namespace.addVariable({\n    \"organizedBy\": isoOutputs,\n    \"browseName\": \"O6\",\n    \"nodeId\": \"ns=1;s=Isolated_Output6\",\n    \"dataType\": \"Double\",\n    \"value\": {\n      \"get\": function() {\n        return new Variant({\n          \"dataType\": DataType.Double,\n          \"value\": flexServerInternals.sandboxFlowContext.get(\"isoOutput6\")\n        });\n      },\n      \"set\": function(variant) {\n        flexServerInternals.sandboxFlowContext.set(\n          \"isoOutput6\",\n          parseFloat(variant.value)\n        );\n        return opcua.StatusCodes.Good;\n      }\n    }\n    });\n    \n    const gpioDO7 = namespace.addVariable({\n    \"organizedBy\": isoOutputs,\n    \"browseName\": \"O7\",\n    \"nodeId\": \"ns=1;s=Isolated_Output7\",\n    \"dataType\": \"Double\",\n    \"value\": {\n      \"get\": function() {\n        return new Variant({\n          \"dataType\": DataType.Double,\n          \"value\": flexServerInternals.sandboxFlowContext.get(\"isoOutput7\")\n        });\n      },\n      \"set\": function(variant) {\n        flexServerInternals.sandboxFlowContext.set(\n          \"isoOutput7\",\n          parseFloat(variant.value)\n        );\n        return opcua.StatusCodes.Good;\n      }\n    }\n    });\n    \n    const gpioDO8 = namespace.addVariable({\n    \"organizedBy\": isoOutputs,\n    \"browseName\": \"O8\",\n    \"nodeId\": \"ns=1;s=Isolated_Output8\",\n    \"dataType\": \"Double\",\n    \"value\": {\n      \"get\": function() {\n        return new Variant({\n          \"dataType\": DataType.Double,\n          \"value\": flexServerInternals.sandboxFlowContext.get(\"isoOutput8\")\n        });\n      },\n      \"set\": function(variant) {\n        flexServerInternals.sandboxFlowContext.set(\n          \"isoOutput8\",\n          parseFloat(variant.value)\n        );\n        return opcua.StatusCodes.Good;\n      }\n    }\n    });\n    \n    //------------------------------------------------------------------------------\n    // Add a view\n    //------------------------------------------------------------------------------\n    const viewDI = namespace.addView({\n    \"organizedBy\": rootFolder.views,\n    \"browseName\": \"RPIW0-Digital-Ins\"\n    });\n    \n    const viewDO = namespace.addView({\n    \"organizedBy\": rootFolder.views,\n    \"browseName\": \"RPIW0-Digital-Outs\"\n    });\n    \n    viewDI.addReference({\n    \"referenceType\": \"Organizes\",\n    \"nodeId\": gpioDI1.nodeId\n    });\n    \n    viewDI.addReference({\n    \"referenceType\": \"Organizes\",\n    \"nodeId\": gpioDI2.nodeId\n    });\n    \n    viewDI.addReference({\n    \"referenceType\": \"Organizes\",\n    \"nodeId\": gpioDI3.nodeId\n    });\n    \n    viewDI.addReference({\n    \"referenceType\": \"Organizes\",\n    \"nodeId\": gpioDI4.nodeId\n    });\n    \n    viewDI.addReference({\n    \"referenceType\": \"Organizes\",\n    \"nodeId\": gpioDI5.nodeId\n    });\n    \n    viewDI.addReference({\n    \"referenceType\": \"Organizes\",\n    \"nodeId\": gpioDI6.nodeId\n    });\n    \n    viewDI.addReference({\n    \"referenceType\": \"Organizes\",\n    \"nodeId\": gpioDI7.nodeId\n    });\n    \n    viewDI.addReference({\n    \"referenceType\": \"Organizes\",\n    \"nodeId\": gpioDI8.nodeId\n    });\n    \n    viewDO.addReference({\n    \"referenceType\": \"Organizes\",\n    \"nodeId\": gpioDO1.nodeId\n    });\n    \n    viewDO.addReference({\n    \"referenceType\": \"Organizes\",\n    \"nodeId\": gpioDO2.nodeId\n    });\n    \n    viewDO.addReference({\n    \"referenceType\": \"Organizes\",\n    \"nodeId\": gpioDO3.nodeId\n    });\n    \n    viewDO.addReference({\n    \"referenceType\": \"Organizes\",\n    \"nodeId\": gpioDO4.nodeId\n    });\n    \n    viewDO.addReference({\n    \"referenceType\": \"Organizes\",\n    \"nodeId\": gpioDO5.nodeId\n    });\n    \n    viewDO.addReference({\n    \"referenceType\": \"Organizes\",\n    \"nodeId\": gpioDO6.nodeId\n    });\n    \n    viewDO.addReference({\n    \"referenceType\": \"Organizes\",\n    \"nodeId\": gpioDO7.nodeId\n    });\n    \n    viewDO.addReference({\n    \"referenceType\": \"Organizes\",\n    \"nodeId\": gpioDO8.nodeId\n    });\n    \n    coreServer.internalDebugLog(\"create dynamic address space done\");\n    node.warn(\"construction of new address space for OPC UA done\");\n    \n    done();\n}\n","x":230,"y":240,"wires":[[]]}]